//
body {
    //background-color: lightgrey;
    //color: green;

    #campusExplorer {
	width: 90%;

	video {
	    controls {
		width: 50%;
	    }
	}
    }

    #twitterMapper {
	width: 90%;
    }

    #campusExplorerJava {
	width: 90%;

	video {
	    controls {
		width: 50%;
	    }
	}
    }
}
